<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Document</title>
</head>
<body>
<div id="app"></div>
<template id="mwf">
    <div>
        <label for="famale">
            <input id="famale" type="radio" v-model="gender" value="female">女
        </label>
        <div>gender:{{gender}}</div>
        <hr>
        <span>最喜欢的水果:</span>
        <select v-model="fruit">
            <option value="apple">苹果</option>
            <option value="orange">橘子</option>
            <option value="banana">香蕉</option>
        </select>
        <h2>fruit:{{fruit}}</h2>
    </div>
</template>
<script src="../lib/vue.js"></script>
<script>
    const App = {
        template: "#mwf",
        data: function () {
            return {
                msg: "hello world",
                gender: '',
                fruit: ''


            };
        },
        methods: {},

    };
    Vue.createApp(App).mount("#app");
</script>
</body>
</html>